/* Body */
.root {
  -fx-font-family: "Montserrat", sans-serif;
  -fx-font-size: 16px;
  -fx-text-fill: #00000099; /* Default text color */
}

/* Headings */
.label, .h1, .h2, .h3, .h4, .h5, .h6 {
  -fx-font-family: "Montserrat", sans-serif;
}

.h1, .h2 {
  -fx-font-size: 38px;
  -fx-text-fill: #da5f46; /* Red text color */
  -fx-font-weight: bold; /* Bold font */
}

.h3 {
  -fx-font-size: 28px;
  -fx-text-fill: #da5f46; /* Red text color */
  -fx-font-weight: bold; /* Bold font */
}

/* Buttons */
.button {
  -fx-font-family: "Montserrat", sans-serif;
  -fx-font-size: 14px;
  -fx-background-color: linear-gradient(to right, #da5f46, #FA849B);
  -fx-text-fill: white;
  -fx-padding: 8px 16px;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

.button:hover {
  -fx-background-color: linear-gradient(to right, #FA849B, #da5f46);
}
/* Text Fields */
.text-field {
  -fx-font-family: "Montserrat", sans-serif;
  -fx-font-size: 14px;
  -fx-background-color: transparent;
  -fx-border-color: #da5f46;
  -fx-border-width: 0px 0px 2px 0px;
  -fx-font-weight: bold; /* Bold font */
  -fx-text-fill: white; /* White text color */
}

/* Define the style for the prompt text */
.text-field .text {
  -fx-fill: white; /* White text color */
}

.text-field:focused {
  -fx-border-color: #da5f46;
}


/* Labels */
.label {
  -fx-font-family: "Montserrat", sans-serif;
  -fx-font-size: 14px;
  -fx-text-fill: #da5f46; /* Red text color */
}

.bold-label {
  -fx-font-weight: bold; /* Bold font */
}

.small-label {
  -fx-font-size: 12px; /* Small label size */
}

.large-label {
  -fx-font-size: 20px; /* Large label size */
}

.black-label {
  -fx-text-fill: black; /* Black text color */
}

.white-label {
  -fx-text-fill: white; /* White text color */
}

/* Anchors */
.anchor-pane {
  -fx-background-color: #000;
}
.anchor-pane-black {
  -fx-background-color: #fff;
}

/* Borders */
.border {
  -fx-border-color: #da5f46;
}

/* Dropdown */
.dropdown-menu {
  -fx-background-color: #ffffff;
  -fx-border-radius: 0;
  -fx-box-shadow: none; /* No box shadow */
  -fx-padding: 24px 0 26px 0; /* Corrected padding value */
  -fx-min-width: 280px;
}


